.opcion{
    text-decoration: none;
    text-transform: uppercase;
    color:#ddd;
    /*outline: 1px solid red;*/
    display: block;
}

.sidebar{
    background-color: #343a40;
    height: 100%;
    line-height: 2rem;
    /*outline: 1px solid green;*/
}

.menu li{
    padding: 1rem;
    box-shadow: 5px 0 rgba(255,255,255,.2) inset;
    transition: all .4s;
}

.menu li:hover{
    box-shadow: 15rem 0 rgba(255,255,255,.2) inset;
}

.menu:first-child{
    padding-top: 5rem;
}

@media only screen and (max-width: 1000px){
    .opcion span{
        display: none;
    }
}